<!-- Footer -->
<footer id="footer">
  <ul class="icons" style="vertical-align: middle">
    {% if site.linkedin_usercode %}
    <li>
      <a
        href="https://www.linkedin.com/in/jared-cook-b3585a114/"
        class="icon circle fa-linkedin"
      >
        <span class="label">Linkedin</span>
      </a>
    </li>
    {% endif %}
    <!--<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>-->
    <!--<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>-->
    {% if site.github_username %}
    <li>
      <a
        href="https://github.com/{{ site.github_username }}"
        class="icon circle fa-github"
      >
        <span class="label">Github</span>
      </a>
    </li>
    {% endif %}
    <!-- Buy Me A Coffee Link -->
    {% if site.buymecoffee_data_slug %}
    <li>
      <div
        class="icon circle bmc-wrapper"
        style="
          width: 58px;
          height: 58px;
          overflow: hidden;
          border-radius: 50%;
          display: flex;
          justify-content: start;
          align-items: center; /* centers vertically */
        "
      >
        <script
          type="text/javascript"
          src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
          data-name="bmc-button"
          data-slug="{{ site.buymecoffee_data_slug }}"
          data-color="#FFDD00"
          data-emoji=""
          data-font="Cookie"
          data-text=""
          data-outline-color="#000000"
          data-font-color="#000000"
          data-coffee-color="#ffffff"
        ></script>
      </div>
    </li>
    {% endif %}
    <!--<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>-->
  </ul>
  {% if site.github_username %}
  <ul class="copyright">
    <li>&copy; {{ site.github_username }}</li>
    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
  </ul>
  {% endif %}
</footer>
